<div class="page-body-wrapper full-page-wrapper auth-page limiter animated fadeInRight">
    <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
        <div class="row w-100">
            <div class="col-lg-4 mx-auto">
                <h1 class="text-center mb-4" style="color: white;">Registro</h1>
                <div class="auto-form-wrapper">
                    <form [formGroup]="registro" (ngSubmit)="crearUsuario()">

                        <div class="form-group">
                            <div class="input-group">
                                <input [ngStyle]="{'border': registro.get('nombre').valid ? '3px solid #00ff00' : '1px solid black'}" formControlName="nombre" type="text" class="form-control rounded" placeholder="Nombre">
                                <div class="input-group-append">
                                    <!-- <span class="input-group-text"> -->
                                    <!-- <i *ngIf="registro.get('nombre').valid" class="fa fa-check-circle"></i> -->
                                    <!-- </span> -->
                                </div>
                            </div>
                            <p *ngIf="nombreNoValido" class="text-danger">El nombre es necesario</p>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input [ngStyle]="{'border':registro.get('email').valid? '3px solid #00ff00' : '1px solid black'}" formControlName="email" type="email" class="form-control rounded" placeholder="Correo">
                                <div class="input-group-append">
                                    <!-- <span class="input-group-text">
                      <i *ngIf="!emailNoValido && registro.get('email').touched" class="fa fa-check-circle"></i>
                    </span> -->
                                </div>
                            </div>
                            <p *ngIf="emailNoValido" class="text-danger">El formato de correo es erróneo</p>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input [ngStyle]="{'border':registro.get('pass1').valid ? '3px solid #00ff00' : '1px solid black'}" formControlName="pass1" id="pass1" type="password" class="form-control rounded" placeholder="Contraseña">
                                <div class="input-group-append">
                                    <!-- <span class="input-group-text">
                      <i *ngIf="!pass1NoValido && registro.get('pass1').touched" class="fa fa-check-circle"></i>
                                    </span> -->
                                </div>
                            </div>
                            <p *ngIf="pass1NoValido" class="text-danger">La contraseña debe contener un mínimo de 6 caracteres</p>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input [ngStyle]="{'border': !pass2NoValido ? '3px solid #00ff00' : '1px solid black'}" formControlName="pass2" id="pass2" type="password" class="form-control rounded" placeholder="Repetir contraseña">
                                <div class="input-group-append">
                                    <!-- <span class="input-group-text">
                      <i *ngIf="!pass2NoValido && registro.get('pass2').touched && registro.get('pass2').valid" class="fa fa-check-circle"></i>
                                    </span> -->
                                </div>
                            </div>
                            <p *ngIf="pass2NoValido && registro.get('pass2').touched" class="text-danger">Las contraseñas deben coincidir</p>
                        </div>

                        <div class="form-group">
                            <button *ngIf="!loading" [disabled]="registro.invalid" class="btn btn-primary submit-btn btn-block">Crear cuenta</button>

                            <button *ngIf="loading" [disabled]="true" class="btn btn-primary submit-btn btn-block">
                                <i class="fa fa-spin fa-sync"></i>Espere...</button>
                        </div>
                        <div class="text-block text-center my-3">
                            <span class="text-small font-weight-semibold">ya tienes una cuenta?</span>
                            <br>
                            <a href="" routerLink="/login" class="text-black text-small">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- page-body-wrapper ends -->