<div class="wrapper" *ngIf="!cargando">
    <div *ngIf="cita">
        <section class="wrap">
            <a class="navbar-brand head">
                <img src="assets/images/repara.png" alt="logo" />
            </a>
            <h1 class="head" style="font-family: 'Days One', sans-serif; margin-top: 120px">{{titulo}} {{dia | date: 'dd/MM/yyyy'}}</h1>
        </section>
        <br class="clearfix">

        <!-- <h2><b></b></h2> -->
        <button [disabled]="reparando" class="btn" (click)="reparar()">Reparar</button>

        <div class="row m-5">

            <div class="col-12">
                <mat-progress-bar mode="determinate" [value]="contador"></mat-progress-bar>
                {{contador | number: '1.0-0'}}%

                <ul>
                    <li *ngFor="let item of visibles;let i = index">Reparación <strong>{{item[i].value | select | lowercase}}</strong> completada</li>
                    <li *ngIf="contador>=100">Todas las reparaciones han sido completadas</li>

                </ul>
                <ul *ngIf="contador>=100">
                    <li *ngFor="let item of reparaciones">Reparación <strong>{{item[i].value | select | lowercase}}</strong> completada</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="!cita">
        <section class="wrap">
            <a class="navbar-brand head">
                <img src="assets/images/repara.png" alt="logo" />
            </a>
            <h1 class="head" style="font-family: 'Days One', sans-serif; margin-top: 120px">No tienes ninguna cita</h1>
        </section>
        <br class="clearfix">
        <a routerLink="citas">
            <h2 style="text-align: center">Puedes pedir cita aquí</h2>
        </a>
    </div>
</div>