<div class="wrapper" *ngIf="!cargando">
    <a class="navbar-brand" id="head">
        <img src="assets/images/repara.png" alt="logo" />
    </a>
    <section *ngIf="cita">
        <h3>{{titulo}} {{dia | date: 'dd/MM/yyyy'}}</h3>
        <button [disabled]="reparando" class="btn" (click)="reparar()">Reparar</button>

        <div class="row m-5">

            <div class="col-12">
                <mat-progress-bar mode="determinate" [value]="contador"></mat-progress-bar>
                {{contador | number: '1.0-0'}}%

                <ul>
                    <li *ngFor="let item of visibles;let i = index">Reparación <strong>{{item[i].value | select | lowercase}}</strong> completada</li>
                    <li *ngIf="contador>=100">Todas las reparaciones han sido completadas</li>

                </ul>
                <ul *ngIf="contador>=100">
                    <li *ngFor="let item of reparaciones">Reparación <strong>{{item[i].value | select | lowercase}}</strong> completada</li>
                </ul>
            </div>
        </div>
    </section>

    <div *ngIf="!cita">
        <h3>No tienes ninguna cita</h3>
        <a routerLink="citas">
            <h4>Puedes pedir cita aquí</h4>
        </a>
    </div>
</div>