<section *ngIf="cita" class="wrapper">
    <button class="btn" (click)="reparar()">Reparar</button>

    <div class="row m-5">

        <div class="col-12">
            <mat-progress-bar mode="determinate" [value]="contador"></mat-progress-bar>
            <div class="row justify-content-around">

                <div class="col-3">
                    <!-- <i *ngIf="contador>=25" class="fas fa-level-up-alt fa-2x"></i>
                <p *ngIf="contador>=25">Reparacion X completada</p> -->
                </div>
                <div class="col-3">
                    <span *ngIf="contador>=25">Reparacion X completada</span>
                    <i *ngIf="contador>=25" class="fas fa-level-up-alt fa-2x"></i>
                </div>
                <div class="col-3">
                    <span *ngIf="contador>=50">Reparacion X completada</span>
                    <i *ngIf="contador>=50" class="fas fa-level-up-alt fa-2x"></i>
                </div>
                <div class="col-3">
                    <span *ngIf="contador>=75">Reparacion X completada</span>
                    <i *ngIf="contador>=75" class="fas fa-level-up-alt fa-2x"></i>
                </div>

                <!-- <i *ngIf="contador>=100" class="fas fa-level-up-alt fa-2x"></i>
            <p *ngIf="contador>=100">Reparacion X completada</p> -->
            </div>
        </div>
    </div>
</section>

<div *ngIf="!cita">
    No cita
</div>