<div *ngIf="!cargando" class="wrapper">


    <section class="wrap" *ngIf="finalizadas.length>0">
        <a class="navbar-brand head">
            <img src="assets/images/repara.png" alt="logo" />
        </a>
        <h1 class="head" style="font-family: 'Days One', sans-serif; margin-top: 120px">Reparaciones completadas</h1>
    </section>
    <br class="clearfix">

    <section class="wrap" *ngIf="finalizadas.length==0">
        <a class="navbar-brand head">
            <img src="assets/images/repara.png" alt="logo" />
        </a>
        <h1 class="head" style="font-family: 'Days One', sans-serif; margin-top: 120px">Actualmente no tienes ninguna cita completada</h1>
        <br class="clearfix">
        <a routerLink="/progreso" style="text-align: center;margin-top: 100px;">
            <h2>Puedes ver si tienes alguna reparación en curso aquí</h2>
        </a>
    </section>
    <br class="clearfix">

    <ul *ngFor="let item of finalizadas; let i = index">
        <h3>{{item.data.title}} {{item.data.start | date: 'dd/MM/yyyy'}}</h3>
        <ul *ngFor="let rep of item.data.reparaciones;">
            <li><b>{{rep.value | select}}</b> {{rep.price}}€</li>
        </ul>
        <br>
        <h4>Total: {{total[i] | number: '1.0-2'}}€</h4>
        <h3 *ngIf="item.data.pagada">Pagada: Sí</h3>
        <h3 *ngIf="!item.data.pagada">Pagada: No</h3>
        <hr>
    </ul>
</div>