<div class='demo-app text-center' *ngIf="!cargando">
    <div *ngIf="!siguiente">
        <section class="wrap">
            <a class="navbar-brand" id="head">
                <img src="assets/images/repara.png" alt="logo" />
            </a>
            <h1 id="head" style="font-family: 'Days One', sans-serif; margin-top: 120px">BIENVENIDO A TALLERES SENÉN</h1>
        </section>
        <br class="clearfix">
        <h2 id="select" style="margin-top:60px; margin-left: 580px;">Elige tu reparación:</h2>

        <mat-form-field appearance="fill" id="select">
            <mat-label>Opcion</mat-label>
            <mat-select [formControl]="opcionControl" multiple [(value)]="selected">
                <mat-optgroup *ngFor="let group of opcionGroups" [label]="group.name" [disabled]="group.disabled">
                    <img with="30" height="30" [src]="group.image">
                    <mat-option *ngFor="let opcion of group.opcion" [value]="opcion">
                        {{opcion.value | select}}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
        <br class="clearfix">

        <p class="h6" *ngIf="selected.length>0">Ha elegido las siguientes reparaciones:</p>
        <ul style="list-style-type:none ">
            <li style="font-size:15px" *ngFor="let opcion of selected">{{opcion.value | select}}: {{opcion.price}}€</li>
        </ul>
        <br class="clearfix">

        <button class="btn btn-primary" [disabled]="selected.length===0" (click)="confirmar()">Confirmar cita</button>
    </div>


    <div *ngIf='siguiente' class='demo-app-main'>
        <button class="btn btn-secondary" style="float:right;" (click)="atras()">Atrás</button>
        <full-calendar [options]='calendarOptions'></full-calendar>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Selecciona hora para tu cita</h4>

    </div>
    <div class="modal-body">
        <form>
            <label for="hora">Elige tu hora para la cita del {{fecha | date: 'dd/MM/yyyy'}}: &nbsp;</label>
            <select name="horaSeleccionada" id="horaSeleccionada" #horaSeleccionada>
                <option *ngFor="let hora of horas" [value]="hora">{{hora}}</option>
            </select>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c(horaSeleccionada.value)">Confirmar</button>
    </div>
</ng-template>