<div style="text-align:center" *ngIf="!cargando">
    <div *ngIf="reparaciones.length>0 ">
        <section class="wrap">
            <a class="navbar-brand head">
                <img src="assets/images/repara.png" alt="logo" />
            </a>
            <h1 class="head" style="font-family: 'Days One', sans-serif; margin-top: 120px">Puedes pagar on-line o en nuestro taller</h1>
        </section>
        <br class="clearfix">
        <h4>Selecciona una reparación</h4>
        <mat-form-field appearance="fill">
            <mat-label>Reparación</mat-label>

            <mat-select [(value)]="selected">
                <mat-option *ngFor="let item of reparaciones" [value]="item">{{item.data.title}} {{item.data.start | date: 'dd/MM/yyyy'}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="selected">
            <h3>El pago total es de {{selected.data.costeTotal}}€</h3>
            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        </div>

    </div>
    <div *ngIf="reparaciones.length==0">
        <section class="wrap">
            <a class="navbar-brand head">
                <img src="assets/images/repara.png" alt="logo" />
            </a>
            <h1 class="head" style="font-family: 'Days One', sans-serif; margin-top: 120px">No tienes ninguna cita pendiente de pago</h1>
        </section>
        <br class="clearfix">
        <a routerLink="citas" style="text-align: center;margin-top: 100px;">
            <h2>Puedes pedir cita aquí</h2>
        </a>
    </div>

</div>